configuration {
	modi:                "drun,windowcd,window";
	width:               30;
	lines:               5;
	show-icons:          true;
	font:                "Mono 11";
	terminal:            "urxvt";
	disable-history:     true;
	sidebar-mode:        false;
	tokenize:            true;
	m:                   "-5";
	line-margin:         2;
	line-padding:        1;
	separator-style:     "none";
	hide-scrollbar:      true;
	window-format:       "{w} {c}";

}


